.button {
    border: 1px solid #000;
    display: block;
    float: right;
    height: 30px;
    width: 80px;
    
}

.button-consume, #button-consume {
    background-color: forestgreen;
    align-content: center;
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
    padding: 10px 18px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    font-size: 9.5pt;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    font-family: sans-serif;
    text-decoration: none;
}

